/*FIX TRANSLATE*/
@mixin shift($transformX : -50%, $transformY: -50%) {
	-webkit-transform: translate($transformX, $transformY);
	    -ms-transform: translate($transformX, $transformY);
	        transform: translate($transformX, $transformY);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* ALL TRANSITIONS */
@mixin transitions($seconds: 0.3s) {
	transition: all $seconds;
}

/* MEDIA QUERIES */

@mixin md-mobile {
	@media (min-width: #{$md-mobile}) {
		@content;
	}
}

@mixin mid-device {
	@media (min-width: #{$mid-device}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin sm-desktop {
	@media (min-width: #{$sm-desktop}) and (orientation: landscape) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}