/* FONT */
$nunito: 'Nunito Sans', Futura, Helvetica, serif;

/* COLORS */
$offblack: #282828;
$overlay: rgba(0, 0, 0, .3);
$grid-overlay: rgba(0,0,0,0.5);
$lightbox-overlay: rgba(0,0,0,0.8);

/* DEVICE WIDTHS */
$md-mobile: 350px;