.chevron {
	&:before {
		border-style: solid;
		border-width: 0.125rem 0.125rem 0 0;
		border-color: $gray;
		content: '';
		display: inline-block;
		height: 2.5rem;
		left: 0.15em;
		position: relative;
		top: 0;
		transform: rotate(135deg);
		vertical-align: top;
		width: 2.5rem;
	}
	@include tablet {
		&:before {
			width: 4rem;
			height: 4rem;
		}
	}
}

#chevron-down {
	@include transitions(0.2s);
	&:hover .chevron:before {
		@include transitions(0.2s);
		border-color: white;
	}
}