footer {
	text-align: center;

	.social-media {
		h1 {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.icons {
			margin: 4rem auto;
			@include mid-device {
				margin: 5rem auto;
			}

			a {
				margin-left: 1.5rem;
				margin-right: 1.5rem;
				display: inline-block;
				@include mid-device {
					margin-left: 3rem;
					margin-right: 3rem;
				}

				img {
					width: auto;
					height: 2.5rem;
					@include mid-device {
						height: 3rem;
					}
				}
			}
		}
	}
	
	.copyright {

		h3 {
			font-weight: 300;
			font-size: 1.2rem;
			@include mid-device {
				font-size: 1.4rem;
			}
		}

		a {
			text-decoration: underline;
		}
	}
}