.play-button {
  @include transitions(.2s);
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    @include transitions(.2s);
    width: 6rem;
    height: 6rem;
  }
  @include tablet {
    width: 6rem;
    height: 6rem;
    &:hover {
      width: 7rem;
      height: 7rem;
    }
  }
  @include sm-desktop {
    width: 5rem;
    height: 5rem;
    &:hover {
      width: 6rem;
      height: 6rem;
    }
  }

  .play {
      @include shift(-55%, -50%);
      width: 0; 
      height: 0;
      position: absolute;
      top: 50%;
      left: 55%;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid white;
      @include tablet {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 18px solid white;
      }
      @include sm-desktop {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid white;
      }
    }
}
