#about {
	background-color: #fff;
	position: relative;
	overflow: hidden;
	
	.info {
		text-align: center;
		margin: 3rem auto;
		padding: 1.5rem;

		img {
			width: 8rem;
			margin-bottom: 3rem;
		}

		h3 {
			color: black;
			font-weight: 400;
			font-size: 1.6rem;
		}
	}
}