#subscribe {
	background-color: white;
	text-align: center;
	
	.header {
		color: black;
	}

	h3 {
		margin-top: 4rem;
		margin-bottom: 4rem;
		color: black;
		font-weight: 400;
		font-size: 1.6rem;
		@include tablet {
			margin-top: 5rem;
			margin-bottom: 5rem;
			font-size: 2.2rem;
		}
		@include sm-desktop {
			font-size: 1.8rem;
		}
	}
}